body {
    background-color: #292a2b;
    color: #f0f0f0;
    font-family: Hack, "Lucida Console", monospace;
    font-size: 32px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.container div {
    border: 2px solid #484848;

}

#irc {
    font-size: 16px;
    overflow: hidden;
}

#message {
    padding: 20px;
}
